*{
margin:0;
padding:0;
font-family:'Dosis',Sans-serif;}
.hero{
width:80%;
  margin:auto;
}
.navbar{
margin:30px auto;
display:flex;
align-items:center;}
.navbar ul{
flex:1;
  text-align:right;
}
.navbar img{
width:50%;
height:90px;}
ul li{
list-style:none;
display:inline-block;
margin:0 25px;}

ul li a{
text-decoration:none;
  color:#000;
  padding:0 10px;
  position:relative;
}
ul li a::after{
width:0;
  height:10px;
  background:#f14a60;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  top:-35px;
  transition:0.2s;
}
ul li a:hover::after{
width:100%;
}

.content{
display:flex;
  margin-to:80px;
}
.left-col,.right-col{
flex-basis:50%;
}
.left-col img{
  width:100%;
}
.right-col h1{
margin:20px;
color:red;
}

.right-col h2{
margin:15px;
  color:blue;
}
