* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}

.flex-container1 {
  display: flex;
  width:90%;
  padding:10px;
  margin:10px;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left1 {
  padding: 0;
  flex: 50%;
}

.flex-item-right1 {
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
  .flex-container1 {
    flex-direction: column;
  }
.one{
flex-direction:row;
  }
}

body{
   background-color: lightyellow;
}

.img{
  margin:50px;
  width:200px;
  border-radius: 50%;
}

.flex-item-right1 h1{
  text-align:center;
  font-size:35px;
  color:black;
}
.flex-item-right1 .one {
 display: flex;
  width:90%;
  flex-direction: row;
  text-align: center;
  margin-top:40px;
  margin-left:10px;
}
 .flex-item-right1 .one h3 {
  border-radius: 50%;
  margin-left:10px;
height:120px;
Width:100px;
  background-color: #f1f1f1;
  color:black;padding:20px;
  flex: 30%;
  font-size:20px;
  }

.one {
 display: flex;
  width:90%;
  flex-direction: row;
  text-align: center;
  margin-top:40px;
  margin-left:10px;
}
.one h3 {
  border-radius: 50%;
  margin-left:10px;
height:120px;
Width:100px;
  background-color: #f1f1f1;
  color:black;padding:20px;
  flex: 30%;
  font-size:20px;
  }









.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.wrap li {
  background: gold;
}

.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}





