*{
margin:0;
padding:0;
font-family:'Dosis',Sans-serif;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  width:90%;
  padding:10px;
  margin:10px;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  
  padding: 0;
  flex: 45%;
}

.flex-item-right {
  padding: 10px;
  flex: 45%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

body{
   background-color: lightyellow;
}

.navbar{
width:80%;
margin:10px auto;
display:flex;
align-items:center;}

ul{
flex:1;
  text-align:right;
}
ul li{
list-style:none;
display:inline-block;
margin:0 25px;}

ul li a{
text-decoration:none;
  color: #000;
  text-align: center;
  padding: 14px 16px;
}

li a:hover{
  height:10px;
  background-color:#f14a60;
}
.active {
  width:100%;
  color:black;
  background-color: #4CAF50;
}


.img{
  margin:50px;
  width:200px;
  border-radius: 50%;
}

h1{
  font-size:35px;
  color:black;
}
.one{
 display: flex;
  width:90%;
  flex-direction: row;
  text-align: center;
  margin-top:40px;
  margin-left:10px;
}
.one h3{
  border-radius: 50%;
  margin-left:10px;
  background-color: #f1f1f1;
  padding: 5px;color:black;
  flex: 30%;
  font-size:20px;
  }

